<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- -------------------------------- cdns --------------------------------- -->
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- -------------------------------- fonts -------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------------- css --------------------------------- -->
  <link rel="stylesheet" href="./styles .css">

  <link rel="stylesheet" href="../side-bar-menu/styles .css">
  <link rel="stylesheet" href=".././../css/layout.css">
  <!-- ----------------------------------------------------------------------- -->
  <title>nav-bar-menu</title>
</head>

<body class='body__container'>

  <section class='categories-container'>
    <h3>Categorias</h3>

    <div class='categories__btns-container'>
      
      <div class='categories__btn'>
        <div class='categories__icon'>
          <i class="fa-solid fa-bowl-food"></i>
        </div>
        <p class='categories__text'> Alimento</p>
      </div>

      <div class='categories__btn'>
        <div class='categories__icon'>
          <i class="fa-solid fa-bone"></i>
        </div>
        <p class='categories__text'> Snacks</p>
      </div>

      <div class='categories__btn'>
        <div class='categories__icon'>
          <i class="fa-sharp fa-solid fa-baseball"></i>

        </div>
        <p class='categories__text'> Juguetes</p>
      </div>

      <div class='categories__btn'>
        <div class='categories__icon'>
          <i class="fa-solid fa-shirt"></i>
        </div>
        <p class='categories__text'> Accesorios</p>
      </div>

      <div class='categories__btn'>
        <div class='categories__icon'>
          <i class="fa-solid fa-house-medical"></i>
        </div>
        <p class='categories__text'> FarmaPet</p>
      </div>

      <div class='categories__btn'>
        <div class='categories__icon'>
          <i class="fa-solid fa-pump-soap"></i>
        </div>
        <p class='categories__text'> Higiene</p>
      </div>
    </div>

  </section>
  <!-- ----------------------------------------------------------------------- -->
  


  <main class='main-container'>

  </main>

  <script src='./script.js'></script>
</body>

</html>