<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- -------------------------------- cdns --------------------------------- -->
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- -------------------------------- fonts -------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------------- css --------------------------------- -->
  <link rel="stylesheet" href="./styles.css">

  <link rel="stylesheet" href="../side-bar-menu/styles .css">
  <!-- ----------------------------------------------------------------------- -->
  <title>shopping_cart</title>
</head>
<body class='body__container'>
  

<!-- ---------------------------- shopping car ----------------------------- -->
<div class='shopping_cart '>
  <div class='shopping_cart__header'>
    <i class="fa-solid fa-arrow-left"></i>
    <h3>Carrito de compras</h3>

  </div>

  <div class='shopping_cart__list'>
      <div class='shopping_cart__item'>
        <div class='shopping_cart__img'>
        <img src="../../img/products/1-pedigree.svg" alt="">
        <p>Max Vita - Alimento Perro Cachorro Crecimiento Saludable Pollo </p>
        <p class='shopping_cart_delete'><i class="fa-solid fa-trash-can"></i></i></p>
      </div>
        <div class='shopping_cart__price'>
        <p> Cantidad: <b>1</b> </p>
        <p>Total: $ 88.749</p>
        </div>
    </div>

  </div>


  <div class='shopping_cart__footer'>
    <div class='shopping_cart__total'>
      <p>Total: $34.434</p>
    </div >
    <div class='shopping_cart__btn-pay'>
      <p> Ir a Pagar</p>
    </di>
  </div>
</div>


</div>

    

  

  <script src='./script.js'></script>
</body>

<div class='' ></div>

</html>