<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- -------------------------------- cdns --------------------------------- -->
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- -------------------------------- fonts -------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------------- css --------------------------------- -->
  <link rel="stylesheet" href="./styles .css">

  <link rel="stylesheet" href="../side-bar-menu/styles .css">
  <link rel="stylesheet" href=".././../css/layout.css">
  <!-- ----------------------------------------------------------------------- -->
  <title>nav-bar-menu</title>
</head>

<body class='body__container'>
  <header class='heder-container'>



    </div>
    <!-- ----------------------------------------------------------------------- -->
    <section class='header__btns'>
      <div class='heder__container-btns'>
        <a href="" class='header_btn_shoppin-cart'>
          <i class="fa-solid fa-bag-shopping"></i>

        </a>
        <a href=""class='header_btn_fav'>
          <i class="fa-regular fa-heart"></i>
        </a>
        <a href=""class='header_btn_alerts'>
          <i class="fa-regular fa-bell"></i>
        </a>

      </div>

    </section>
    
    <div class="header__user">
      <p>¡Bienvenido,<br> Usuario!</p>
      <div class='header__btn-user'>
        <p></p>
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </header>


  <main class='main-container'>

  </main>

  <script src='./script.js'></script>
</body>

</html>