<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- -------------------------------- cdns --------------------------------- -->
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- -------------------------------- fonts -------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------------- css --------------------------------- -->
  <link rel="stylesheet" href="./styles .css">

  <link rel="stylesheet" href="../side-bar-menu/styles .css">
  <link rel="stylesheet" href=".././../css/layout.css">
  <!-- ----------------------------------------------------------------------- -->
  <title>mas de 100 marcas</title>
</head>
<body class='body__container'>
  
  <main class='main-container'>


    <!-- ---------------------------- cards marcas ----------------------------- -->
    <section class='brands'>
      
      <div class="brands__title">
        <h2>!Mas de 100 Marcas Disponibles¡</h2>
      </div>

      <div class="container-brands">

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/chunky.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/besties.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/proplan.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/hils.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/max.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/vitalli.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/equilibrio.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/nature.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/guamor.svg" alt="">
        </div>

        <div class="brand__card">
          <img class='brand__card_img' src="./img/brands/dopgourmet.svg" alt="">
        </div>

        
      </div>
    </section>
    <!-- fin cards brands ----------------------------------------------------------------------- -->


  

  </main>

  <script src='./script.js'></script>
</body>

</html>