<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- -------------------------------- cdns --------------------------------- -->
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- -------------------------------- fonts -------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------------- css --------------------------------- -->
  <link rel="stylesheet" href="./styles .css">

  <link rel="stylesheet" href="../side-bar-menu/styles .css">
  <link rel="stylesheet" href=".././../css/layout.css">
  <!-- ----------------------------------------------------------------------- -->
  <title>slider Home</title>
</head>
<body class='body__container'>
  
  <main class='main-container'>

    <!-- ------------------------------- slider -------------------------------- -->
    <section class='slider_container'>
      
      <div class="slider__slides">
        <!-- 1 slider -->
        <div class="slider__slide">
          <img src="https://img.freepik.com/fotos-premium/collage-varias-fotos-retratos-cabezas-perros-sobre-fondo-multicolor-multitud-diferentes-colores-brillantes_191971-28740.jpg?w=1380" alt="collage">
        </div>
        <!-- 2 slider -->
        <div class="slider__slide"> 
          <img src="https://img.freepik.com/fotos-premium/collage-varias-fotos-retratos-cabezas-perros-sobre-fondo-multicolor-multitud-diferentes-colores-brillantes_191971-28740.jpg?w=1380" alt="collage">
        
        </div>
        <!-- 3 slider -->
        <div class="slider__slide">
          <img src="https://img.freepik.com/fotos-premium/collage-varias-fotos-retratos-cabezas-perros-sobre-fondo-multicolor-multitud-diferentes-colores-brillantes_191971-28740.jpg?w=1380" alt="collage">
        </div>
      </div>
    
    

  </section>

  </main>

  <script src='./script.js'></script>
</body>

</html>